function Album() {
  return (
    <div>
      Photos from {{name}}:
        <br/>
        {{#photos}}
        <img src="{{{imageUrlPreviewsFolder}}}/{{.}}"></img><br/>
        {{/photos}}
    </div>
  );
}
export default Album;